{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message |raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}