<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">SymBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path( 'homepage' ) }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path( 'ads_index' ) }}">Annonces</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if app.user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <img src="{{ app.user.picture }}" alt="Avatar de {{ app.user.getFullName }}" class="avatar avatar-mini"> 
                    {{ app.user.getFullName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" ari-labelledy="accountDropdownLink">
                <a href="{{ path( 'account_index' ) }}" class="dropdown-item">Mon compte</a>
                <a href="{{ path( 'ad_new' ) }}" class="dropdown-item">Nouvelle annonce</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path( 'account_logout' ) }}" class="dropdown-item">Deconnection</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path( 'account_login' ) }}" class="nav-link">Connection</a>
            </li>
            <li class="nav-item">
                <a href="{{ path( 'account_register' ) }}" class="nav-link">Inscription</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>