                {% set url = path('ad_show', { 'slug': ad.slug}) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{ ad.rooms }} chambres, <strong>{{ ad.price }}&euro; / nuit </strong><br>
                            <small>Pas encore note</small>
                        </div>
                        <a href="{{ url }}">
                            <img  src="{{ ad.coverImage }}" alt="" style="height: 200px;width: 100%; display:block">
                        </a>
                        <div class="card-body">

                            <h4 class="card-title">
                                <a href="{{ url }}">{{ ad.title }}</a>
                            </h4>
                            <p class="card-text">
                              {{ ad.introduction }}
                            </p>
                            <a href="{{ url }}" class="btn btn-primary">En savoir plus </a>
                                {% if app.user and app.user == ad.author %}
                                    <a href="{{ path( 'ad_edit' , { 'slug': ad.slug } ) }}" class="btn btn-secondary">Editer l'annonce</a>
                                {% endif %}
                        </div>
                    </div>
                    </div>
                