{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
<div class="ad-title" style="background-image: url( {{ ad.coverImage }} )">
    <div class="container">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.introduction }}</p>
        <p class="h2"><strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}&euro;</strong> par nuit</p>
        <a href="{{ path('booking_create', {'slug': ad.slug } ) }}" class="btn btn-primary">Reserver !</a>
        {% if app.user and app.user == ad.author %}
            <a href="{{ path( 'ad_edit' , { 'slug': ad.slug } ) }}" class="btn btn-secondary">Editer l'annonce</a>
            <a href="{{ path( 'ad_delete' , { 'slug': ad.slug } ) }}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir la supprimer {{ ad.title }}?`)">Supprimer l'annonce</a>
        {% endif %}
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw}}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active {% endif %}">
                                <img src="{{ image.url }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>
                                        {{ image.caption }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <div class="col">
                <div class="row">
                {% set author = ad.author %}
                    <div class="col-4">
                    <a href="{{ path( 'user_show', { 'slug': author.slug } ) }}">
                        <img src="{{ author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ author.fullName }} "></a>
                    </div>
                    <div class="col">
                        <a href="{{ path( 'user_show', { 'slug': author.slug } ) }}">
                            <h3>{{ author.getFullName }}</h3>
                        </a>
                        <span class="badge badge-primary">{{ author.ads | length }} Annonces</span>
                    </div>
                </div>
                {{ author.introduction | raw }}
            </div>
        </div>
    </div>
{% endblock %}